footer.n-footer
  .container
    .footer-content
      .copy.footer-part Copyright © 2016 Notable Labs
      a.logo-wrapper.footer-part(href='/')
        img.img-responsive(src='assets/images/logos/notable-logo-white.svg')
      .socials.footer-part
        a.social-link(href='#')
          i.fa.fa-facebook
        a.social-link(href='#')
          i.fa.fa-twitter
        a.social-link(href='#')
          i.fa.fa-linkedin
        a.social-link(href='#')
          i.fa.fa-angellist
