nav.navbar.n-navbar.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img(src='./assets/images/logos/NotableLabs-Logo-01.png' alt='Notable Labs')
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#n-header' aria-expanded='false')
        i.glyphicon.glyphicon-menu-hamburger
    #n-header.collapse.navbar-collapse.n-menu
      ul.nav.navbar-nav.navbar-right
        li.active
          a.scroll-menu(href='#story') Home
        li
          a.scroll-menu(href='#') About Us
        li
          a.scroll-menu(href='#') Careers
        li
          a.scroll-menu(href='#') Contact Us