head
  meta( charset='utf-8' )
  title Notable Labs
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name='theme-color' content='#00AC7A')
  link(rel = 'stylesheet' href='assets/css/assets.css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300,300italic,700italic' rel='stylesheet' type='text/css')
  link(rel = 'stylesheet' href='assets/css/app.css')