body {
  font-family: Lato;
}

.btn-top {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.relative {
  position: relative;
}

.n-content {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);
  background: $white-wine;
  align-items: center;
  .content {
    width: 100%;

    .two-sides-content {
      display: flex;
      align-items: center;
      .side {
        width: 50%;
        padding: 0 45px;

        .n-title {
          margin-bottom: 25px;
        }

        .side-text {

          font-size: 16px;
          color: $whiskey;
          text-align: justify;
        }

        &.pict-side {
          .img-wrapper, .video-wrapper {
            box-shadow: 20px 20px 100px 0 rgba(0, 0, 0, 0.3);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.thin {
  font-weight: lighter;
}

.n-title {
  color: $mojito;
  font-size: 40px;
  text-transform: capitalize;

  &.small {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.scroll-btn {
  width: 60px;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;

  &:hover, &:focus {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }

  i {
    font-size: 42px;
  }

  &.down {
    background: $white-wine;
    color: $mojito;
  }

  &.up {
    background: $guinness;
    color: $white-wine;
  }
}

.n-carousel-wrapper {
  position: relative;

  .n-carousel {
    .slider-item {
      margin: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        display: inline-block;
        max-height: 100%;
      }
    }
  }

  .owl-n-navigation {
    position: absolute;
    height: 70px;
    width: 160px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: $scotch;
    top: 0;
    padding: 10px;
    i {
      display: inline-block;
    }

    &:hover, &:focus {
      text-decoration: none;
    }

    &.owl-n-prev {
      justify-content: flex-start;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 100%);
      left: 0;
    }

    &.owl-n-next {
      justify-content: flex-end;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 1) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 1) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 1) 100%);
      right: 0;
    }
  }
}

.form-control {
  height: 60px;
  border-radius: 5px;
  background: $tequila;
  border: 1px solid $tequila-silver;
  box-shadow: none;
  color: $whiskey-xxx;

  &:hover, &:focus {
    box-shadow: none;
    border-color: $whiskey-xxx;
  }
}

textarea.form-control {
  height: 270px;
  resize: none;
}

.btn.btn-primary {
  background: $mojito;
  color: $white-wine;
  border-radius: 5px;
  border: 1px solid $mojito;

  &:hover, &:focus, &:active {
    background: $mojito;
    color: $white-wine;
    border: 1px solid $mojito;
  }

  &.btn-big {
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    line-height: 45px;
  }
}


@media all and (max-width: 767px) {
  .btn-top {
    display: none;
  }

  .n-content .content {
    margin-top: 150px;

    .two-sides-content {
      display: block;

      .side {
        width: 100%;
        display: block;
        margin-bottom: 100px;
      }
    }
  }
}


@media all and (max-width: 1199px) {

  .btn-top {
    left: 50%;
    margin-left: -30px;
  }
}