.c-page {

  .n-navbar.c-navbar.unscrolled {
    background: none;
    box-shadow: none;

    .black-logo {
      display: none;
    }

    .white-logo {
      display: inline-block;
      max-width: 190px;
    }

    .navbar-header {
      .navbar-toggle {
        color: $white-wine;
      }
    }

    .navbar-nav li {
      a {
        color: $white-wine;
        &:hover, &:focus {
          background: none;
        }
      }
    }
  }

  .top-section {
    padding-top: 0;
    background: url('../images/c_bg.png') fixed no-repeat;;
    background-size: cover;
    position: inherit;

    .top-wrapper {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      padding-top: 100px;
      padding-bottom: 200px;
      color: $white-wine;
      display: flex;
      justify-content: center;
      align-items: center;

      .placeholder {
        font-size: 40px;
        font-weight: bolder;
      }

      .text {
        font-size: 22px;
        margin-top: 30px;
      }
    }
  }

  .c-body {
    background: $c-body;

    .joblist-wrapper {
      z-index: 10;
      background: $white-wine;
      box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);
      padding: 60px 70px;
      margin-top: -100px;
    }
  }

  .contact-text {
    margin: 60px 0;
    font-size: 30px;
    color: $guinness;

  }

  .jobs-list {
    .department {
      font-size: 25px;
      text-transform: uppercase;
      color: $whiskey;
      margin-bottom: 40px;
      font-weight: bold;
    }

    .position {
      width: 100%;
      display: block;
      text-decoration: none;
      margin-bottom: 20px;

      .main-row {
        height: 35px;
        .title {
          font-size: 24px;
          display: inline-block;
          height: 35px;
        }
        .btn {
          text-transform: uppercase;
        }
      }

      .info-row {
        .info {
          display: inline-block;
          font-size: 12px;
          font-weight: bold;
          margin-right: 10px;
          color: $whiskey;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .c-page {
    .n-navbar.c-navbar.unscrolled {
      .navbar-nav li {

        &.active a {
          color: $mojito;
        }

        a {
          color: $smoke;
          &:hover, &:focus {
            background: none;
          }
        }
      }
    }

    .top-section {
      height: auto;
    }

    .jobs-list {
      .position {
        .main-row {
          height: auto;
          .btn {
            float: none!important;
          }
        }
      }
    }
  }
}
