.n-footer {
  background: $guinness;
  padding: 50px 0;
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;

    .footer-part {
      width: 33.333%;
      display: block;
    }

    .copy {
      color: rgba(255, 255, 255, 0.5);
    }

    .logo-wrapper {
      width: 130px;
      img {
        width: 100%;
      }
    }

    .socials {
      text-align: right;

      .social-link {
        display: inline-block;
        vertical-align: middle;
        color: $white-wine;
        font-size: 18px;
        margin-right: 10px;

        &:hover, &:focus {
          text-decoration: none;
          opacity: 0.5;
        }
      }

    }
  }
}