.n-navbar {
  height: 100px;
  background: $white-wine;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);

  .navbar-header {
    height: 100px;

    .navbar-brand {
      height: 100%;
      img {
        height: 100%;
      }

      .white-logo {
        display: none;
      }
    }

    .navbar-toggle {
      font-size: 24px;
      color: $mojito;
      padding: 24px 10px;
    }
  }

  .navbar-nav {
    height: 100px;

    li {
      height: 100%;

      &.active {
        a {
          color: $mojito;

          &:after, &:before {
            width: 50%;
            background: $mojito;
          }

        }
      }

      a {
        color: $smoke;
        text-transform: uppercase;
        font-size: 15px;
        transition: color 0.3s ease;
        height: 100%;
        padding: 15px 0;
        margin: 0 15px;
        font-weight: bold;
        line-height: 70px;
        position: relative;

        &:after, &:before {
          position: absolute;
          height: 3px;
          width: 0;
          content: '';
          bottom: 0;
          background: $mojito;
          transition: width 0.3s ease;
        }

        &:after {
          left: 50%;
        }

        &:before {
          right: 50%;
        }

        &:hover, &:focus {
          background: $white-wine;
          color: $mojito;
          &:after, &:before {
            width: 50%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .n-navbar {

    .navbar-header {
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    }

    .navbar-collapse.n-menu {
      border-top: 0;
    }
    .navbar-nav {
      height: auto;
      margin-top: 0;
      background: #fff;
      margin-bottom: 0;
    }
  }
}
