$margins: (0, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 75, 80, 100, 200, -10);

@each $margin in $margins {
  .m-t-#{$margin} {
    margin-top: #{$margin}px !important;
  }
  .m-b-#{$margin} {
    margin-bottom: #{$margin}px !important;
  }
  .m-l-#{$margin} {
    margin-left: #{$margin}px !important;
  }
  .m-r-#{$margin} {
    margin-right: #{$margin}px !important;
  }
}

// Padding helper classes

$paddings: (0, 5, 10, 15, 20, 25, 30, 40, 50, 70, 100, -5, -10, -15, -20, -25, -30, -40, -50);

@each $padding in $paddings {
  .p-t-#{$padding} {
    padding-top: #{$padding}px !important;
  }
  .p-b-#{$padding} {
    padding-bottom: #{$padding}px !important;
  }
  .p-l-#{$padding} {
    padding-left: #{$padding}px !important;
  }
  .p-r-#{$padding} {
    padding-right: #{$padding}px !important;
  }
}

// Text-aligns
$fonts: (14, 18, 24, 36, 48, 56, 64, 72);
@each $font in $fonts {
  .f-#{$font} {
    font-size: #{$font}px;
  }
}

$aligns: (left, center, right);

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}

.font-bold {
  font-weight: bold;
}