.lab-section {
  .side {
    .video-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 700px;
      background: rgba(0, 0, 0, 1);

      &.without-bg {
        background: none;
      }

      video {
        opacity: 0.7;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.show {
          opacity: 1;
        }
      }

      .play-btn {
        position: absolute;
        width: 80px;
        height: 80px;
        background: url('../images/icon/play-btn.png') no-repeat;
        content: '';
        cursor: pointer;
        background-size: cover;
        display: inline-block;
        top: 50%;

        left: 50%;
        margin-left: -40px;
        margin-top: -40px;
      }
    }
  }
}


@media all and (max-width: 767px) {
  .lab-section .side{
    .video-wrapper {
      height: 300px;
    }
  }
}
