.processes-section {
  .n-title {
    margin-bottom: 100px;
  }

  .processes {
    display: flex;
    justify-content: space-around;

    .process {
      display: inline-block;
      margin: 0 20px;
      width: 20%;
      position: relative;

      &:after {
        position: absolute;
        top: 45px;
        margin-top: -10px;
        content: '';
        background: url('../images/processes/arrow.png');
        width: 33px;
        height: 23px;
        right: -40px;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.last {
        &:after {
          display: none;
        }
      }

      .img-wrapper {
        width: 100%;
        margin-bottom: 60px;
        height: 90px;
        text-align: center;

        img {
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
        }
      }

      .text {
        font-size: 18px;
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .processes-section {
    .process:after {
      display: none;
    }
  }
}

@media all and (max-width: 767px) {
  .processes-section {
    .processes {
      display: block;
      .process {
        width: auto;
        display: block;
        margin-top: 100px;
      }
    }
  }
}
