.sliders-section {

  .part {
    margin-bottom: 100px;
  }

  .n-title {
    margin-bottom: 45px;
  }

  .logos-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 70px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;

    &:hover {
      filter: none;
      -webkit-filter: none;
    }
  }
}

@media all and (max-width: 767px) {
  .press-part {
    .logos-wrapper {
      display: block;
      .logo {
        width: 100%;
        display: block;

        text-align: center;
        img {
          display: inline-block;
        }
      }
    }
  }
}