.top-section {
  height: 100vh;
  padding-top: 100px;
  position: relative;
  width: 100%;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05);

  .top-placeholder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

    .placeholder {
      color: $white-wine;
      text-align: center;
      font-size: 40px
    }

    .scroll-btn {
      position: absolute;
      left: 50%;
      bottom: 40px;
      margin-left: -30px;
    }
  }
}

@media all and (max-width: 767px) {
  .top-section .top-placeholder {
    height: auto;
    padding-bottom: 110px;
  }
}
