//colors
$white-wine: #ffffff;
$guinness: #35363e;
$smoke: #D3D3D3;
$whiskey: #777777;
$whiskey-xxx: #999999;
$tequila: #f6f6f6;
$tequila-silver: #e5e5e5;
$scotch: #cccccc;
$mojito: #19bc9c;
$c-body: #F7F7F7;


.white-wine {
  color: $white-wine;
}

.guinness {
  color: $guinness;
}

.smoke {
  color: $smoke;
}

.whiskey {
  color: $whiskey;
}

.scotch {
  color: $scotch;
}

.mojito {
  color: $mojito;
}

.tequila {
  color: $tequila;
}

.tequila-silver {
  color: $tequila-silver;
}
