doctype
html(lang='ru')
  include templates/head
  body
    .app.c-page#top
      nav.navbar.n-navbar.navbar-fixed-top.c-navbar
        .container
          .navbar-header
            a.navbar-brand.scroll-to(href='#top')
              img.black-logo(src='./assets/images/logos/NotableLabs-Logo-01.png' alt='Notable Labs')
              img.white-logo(src='./assets/images/logos/notable-logo-white-2.svg' alt='Notable Labs')
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#n-header' aria-expanded='false')
              i.glyphicon.glyphicon-menu-hamburger
          #n-header.collapse.navbar-collapse.n-menu
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li.active
                a(href='#') Careers
              li
                a(href='/#contact-us') Contact Us

      .top-section
        .top-wrapper
          .container.text-center
            h1.placeholder
              div We wrote down our values to let you know what we stand for.
              div If you share these values, we’d love to connect with you.

            .text
              div Have compassion for patients above all else
              div Believe that all cancers can be treated.
              div Work with passion.
              div Celebrate life.
              div Support and respect everyone.
              div Act as a collaborative hub for our community.
              div Make empirically data driven decisions.
              div Be relentlessly resourceful.
              div Foster a learning organization.
              div.m-t-20
                strong If these resonate with you, we’d love to meet.

      .c-body
        .container
          .joblist-wrapper
            h2.n-title.thin.text-center.m-b-80.m-t-0 Current Openings

            .jobs-list
              .department CLIA LABORATORY
              a.position(href='https://jobs.lever.co/notablelabs/09309e38-7a3e-4378-b543-58b0cc93eade' target='_blank')
                .main-row
                  .title.mojito CLIA Laboratory Director
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info CLIA LABORATORY
                  .info FULL-TIME

              a.position(href='https://jobs.lever.co/notablelabs/2c59984d-d724-4f7e-a2bf-cfebdcdb8398' target='_blank')
                .main-row
                  .title.mojito Clinical Laboratory Scientist (CLS)
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info CLIA LABORATORY
                  .info FULL-TIME


              .department.m-t-50 ENGINEERING
              a.position(href='https://jobs.lever.co/notablelabs/74bcdd09-23bf-41fd-b208-6fcf0a4e366e' target='_blank')
                .main-row
                  .title.mojito Biomedical Engineering Intern
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info ENGINEERING
                  .info INTERN

              a.position(href='https://jobs.lever.co/notablelabs/d4fd3488-e3c1-4bbe-8bea-f5ba4766344f' target='_blank')
                .main-row
                  .title.mojito Engineer
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info ENGINEERING
                  .info FULL-TIME

              a.position(href='https://jobs.lever.co/notablelabs/9c9ee4e8-e834-48f7-8adc-9584105ce234' target='_blank')
                .main-row
                  .title.mojito Software Engineering Intern
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info ENGINEERING
                  .info INTERN


              .department.m-t-50 RESEARCH AND DEVELOPMENT

              a.position(href='https://jobs.lever.co/notablelabs/2c61a4f6-455b-4749-8220-bf73ec479922' target='_blank')
                .main-row
                  .title.mojito Scientist
                  .btn.btn-primary.pull-right.hidden-xs Apply
                .info-row
                  .info SAN FRANCISCO, CA
                  .info RESEARCH AND DEVELOPMENT
                  .info FULL-TIME

        .container
          .contact-text.text-center.thin If you don’t see what you’re looking for, please feel free to reach out to us using our contact form.

    include templates/footer
    script(type='application/javascript'  src='assets/js/assets.js')
    script(type='application/javascript'  src='assets/js/app.js')
