doctype
html(lang='ru')
  include templates/head
  body#top
    .app
      nav.navbar.n-navbar.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand.scroll-to(href='#top')
              img(src='./assets/images/logos/NotableLabs-Logo-01.png' alt='Notable Labs')
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#n-header' aria-expanded='false')
              i.glyphicon.glyphicon-menu-hamburger
          #n-header.collapse.navbar-collapse.n-menu
            ul.nav.navbar-nav.navbar-right
              li.active
                a.scroll-to(href='#top') Home
              li
                a(href='/careers.html') Careers
              li
                a.scroll-to(href='#contact-us') Contact Us

      .top-section.parallax-window(data-parallax='scroll' data-image-src='/assets/images/bg.jpg')
        .top-placeholder
          .container
            h1.placeholder
              span Notable Labs is a service
              span.thin  to help your oncologist identify promising treatment options
              span  for you.
          a.scroll-btn.down.scroll-to(href="#process")
            i.fa.fa-angle-down

      #process.n-content.processes-section
        .content
          .container
            h2.n-title.thin.text-center Our Process

            .processes
              .process
                .img-wrapper
                  img(src='assets/images/processes/icon-1.png')
                .text.text-center
                  .mojito Your doctor sends
                  .whiskey a sample of your tumor to Notable Labs.

              .process
                .img-wrapper
                  img(src='assets/images/processes/icon-2.png')
                .text.text-center
                  .mojito Based on your tumor
                  .whiskey we choose a panel of FDA-approved drugs that have published anti-cancer effects.

              .process
                .img-wrapper
                  img(src='assets/images/processes/icon-3.png')
                .text.text-center
                  .mojito We test
                  .whiskey thousands of combinations of these drugs against your tumor.

              .process
                .img-wrapper
                  img(src='assets/images/processes/icon-4.png')
                .text.text-center
                  .mojito We provide
                  .whiskey a report of the results to your doctor within several days.

              .process.last
                .img-wrapper
                  img(src='assets/images/processes/icon-5.png')
                .text.text-center
                  .mojito Your doctor uses
                  .whiskey our report to make treatment recommendations for you.


      .n-content.lab-section
        .content
          .container
            .two-sides-content
              .side.pict-side
                .video-wrapper
                  video#n-video(poster='assets/images/poster.png')
                    source(src='assets/video/coldplay.mp4' type='video/mp4')
                  .play-btn.js-btn-play

              .side
                h2.n-title.thin Our Lab
                .side-text We’ve built our lab with you, the patient, in mind. Our custom robotic platform handles every aspect of the testing process to ensure results are delivered to your doctor quickly and reliably.

      .n-content
        .content
          .container
            .two-sides-content
              .side
                h2.n-title.thin Notable Clinical Trials
                .side-text Notable is helping oncologists in clinical trials at Princess Margaret Cancer Center and the University of Florida to identify treatment options for leukemia patients who have failed previous standard therapies.

              .side.pict-side
                .img-wrapper
                  img(src='assets/images/map.png')
      .n-content
        .content
          .container
            .two-sides-content
              .side.pict-side
                .img-wrapper
                  img(src='assets/images/story.png')
              .side
                h2.n-title.thin Our Story
                .side-text Matt started Notable with one patient in mind: his dad Marc. When Marc was diagnosed with brain cancer in 2013, Matt was frustrated with the limited treatment options available to him. Notable’s mission is to help patients like Marc find promising therapies that their doctor can prescribe for them today.


      .n-content.sliders-section
        .content
          .container
            .press-part.part
              h3.n-title.text-center.small Press
              .logos-wrapper
                a.logo(href="#")
                  img.img-responsive(src='assets/images/news/press-tc.svg' draggable='false')
                a.logo(href="#")
                  img.img-responsive(src='assets/images/news/press-macro.svg' draggable='false')
                a.logo(href="#")
                  img.img-responsive(src='assets/images/news/press-fbio.svg' draggable='false')
                a.logo(href="#")
                  img.img-responsive(src='assets/images/news/press-sw.svg' draggable='false')
                a.logo(href="#")
                  img.img-responsive(src='assets/images/news/press-bbc.svg' draggable='false')

            .part.slider-part
              h3.n-title.text-center.small Our Partners
              .n-carousel-wrapper
                .owl-carousel.n-carousel#parters-slider
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-atomwise.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-biocer.jpg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-dana.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-emerald.jpg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-mousera.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-stanford.png' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-stem.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-transcriptic.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/partners/partners-ucla.jpg' draggable='false')

                a.owl-n-next.owl-n-navigation(href='#')
                  i.fa.fa-angle-right
                a.owl-n-prev.owl-n-navigation(href='#')
                  i.fa.fa-angle-left

            .part.slider-part
              h3.n-title.text-center.small Our Investors
              .n-carousel-wrapper
                .owl-carousel.n-carousel#investors-slider
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-eleven.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-fclub.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-ff.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-fc.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-l.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-oaks.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-up.svg' draggable='false')
                  .slider-item.logo
                    img.img-responsive(src='assets/images/investors/investors-y.svg' draggable='false')

                a.owl-n-next.owl-n-navigation(href='#')
                  i.fa.fa-angle-right
                a.owl-n-prev.owl-n-navigation(href='#')
                  i.fa.fa-angle-left


      #contact-us
        .relative.p-b-70
          .container
            h2.n-title.text-center.thin.m-t-70.m-b-50 Contact us
            form
              .row
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                  input.m-b-10.form-control(type='text' placeholder='Name')
                  input.m-b-10.form-control(type='email' placeholder='Email')
                  input.m-b-10.form-control(type='text' placeholder='Subject')
                  select.m-b-10.form-control
                    option(value='' selected='' disabled) How did you hear about us?
                    option(value='1') Article
                    option(value='2') Google
                    option(value='3') Friend
                    option(value='4') Other
                  select.m-b-10.form-control
                    option(value='' selected='' disabled) Tell us who you are?
                    option(value='1') Patient
                    option(value='2') Doctor
                    option(value='3') Caregiver
                    option(value='4') Other

                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                  textarea.form-control(placeholder='Message')
                  .m-t-10
                    .btn.btn-primary.btn-block.btn-big Send Message

          a.scroll-btn.up.scroll-to.btn-top(href="#top")
            i.fa.fa-angle-up

      include templates/footer

    script(type='application/javascript'  src='assets/js/assets.js')
    script(type='application/javascript'  src='assets/js/app.js')
